* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 2rem;
}
.navbar-brand:hover {
  color: rgb(9, 112, 247);
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}
.nav-link:hover {
  color: rgb(9, 112, 247);
}
