/* ========================================
                Header Section 
=========================================== */
header {
  padding: 1.6rem 0;
}

/* ========================================
                Hero Section 
=========================================== */

#hero h1 {
  font-size: 5.4rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

#hero p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  color: var(--color-text-muted);
}

/* ========================================
                How to work Section 
=========================================== */
#how-we-work {
  background-color: var(--color-text-muted);
}

#how-we-work h2 {}

#how-we-work a {
  color: var(--color-accent-primary);
  display: inline-block;
  margin-top: 1.6rem;
}

/* ========================================
              Footer Section 
=========================================== */


footer .contact-info {
  width: 51.7rem;
  padding: 1.7rem 13.7rem 1.6rem 3.7rem;
  background-color: var(--color-accent-secondary);
  margin-top: 8.6rem;
}

.social-icons {
  margin-top: 2.8rem;

}

.social-icons i {
  margin-right: 2.6rem;
}

footer .container-footer {
  padding: 3.2rem 0;

}

.footer-nav {
  background-color: var(--color-white);
}

.footer-nav a,
.footer-nav p {
  color: var(--color-black) !important;
}
/* ========================================
              projects Section 
=========================================== */

#projects{
  
  background-color: var(--color-white);

}

.project{
  position: relative;
  overflow: hidden;
}

.project-grid{
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;
}

.first{
  grid-row: 1/span 2;
}
.overlay{
  height: 100%;
  background-color: #1C1E536B;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.3s;
  
}

.overlay.left{
  width: 50%;
  transform: translateX(-100%);
  padding: 31.2rem 3.5rem 7.6rem 4.8rem;
}

.overlay.right-top{
  padding: 12.9rem 3.5rem 7.6rem 4.8rem;
  width: 100%;
  transform: translateY(-100%);
}

.overlay.right-bottom{
  padding: 12.9rem 3.5rem 7.6rem 4.8rem;
  width: 100%;
  transform: translateY(-100%);
}

.project:hover .overlay.left,
.project:hover .overlay.right-top,
.project:hover .overlay.right-bottom {
  transform: translate(0, 0);
  opacity: 1;
}