/* ========================================
                Header Section 
=========================================== */
header {
  padding: 1.6rem 0;
}





/* ========================================
                Hero Section 
=========================================== */

#hero h1 {
  font-size: 5.4rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

#hero p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  color: var(--color-text-muted);
}

/* ========================================
                How to work Section 
=========================================== */
#how-we-work {
  background-color: var(--color-text-muted);
}

#how-we-work h2 {}

#how-we-work a {
  color: var(--color-accent-primary);
  display: inline-block;
  margin-top: 1.6rem;
}